.task-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3.2rem;
  margin-top: 3.2rem;

  .button {
    background-color: #7FC7D9;
    border-radius: 0.8rem;
    box-shadow: 0px 0px 23px -3px rgb(231, 231, 231);
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 0.8rem;
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.1);
    }
  }

  table {
    border-radius: 1.6rem;
    border-spacing: 0;
    box-shadow: 0px 0px 23px -3px rgb(231, 231, 231);
    table-layout: fixed;
    overflow: hidden;
    width: 50%;

    thead {
      background-color: #7FC7D9;
      border-radius: 1.6rem;
      color: #ffffff;
      font-size: 4.8rem;
      padding: 0.8rem;

      tr > th {
        height: 2.4rem;
        text-align: start;
        padding: 0.8rem;
        vertical-align: middle;
      }

      tr > th:nth-child(1) {
        width: 30%;
      }

      tr > th:nth-child(2) {
        width: 40%;
      }

      tr > th:nth-child(3) {
        width: 20%;
      }

      tr > th:nth-child(4) {
        width: 10%;
      }
    }

    tbody {
      font-size: 4rem;
      font-weight: 400;

      tr:nth-child(odd) {
        background-color: #d1f6ff;
      }

      tr:nth-child(even) {
        background-color: #e5faff;
      }

      tr > td {
        padding: 0.8rem;
        vertical-align: middle;
      }

      tr > td:nth-child(1) {
        font-weight: 600;
      }

      tr > td:nth-child(4) {
        display: table-cell;
        cursor: pointer;

        &:hover {
          color: #176B87;
        }
      }
    }
  }
}


