<div class="task-list">
  <button
    class="button"
    (click)="onClick()"
  >Add new task</button>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.isCompleted ? 'Completed' : 'In Progress' }}</td>
        <td
          ngDefaultControl
          [(ngModel)]="task.id"
          (click)="update(task.id!)"
          class="material-icons edit_note"
        >edit_note</td>
      </tr>
    </tbody>
  </table>
</div>
