<div class="card-form">
  <form (ngSubmit)="onSubmit()" #taskForm="ngForm">
    <label for="id"></label>
    <input
      [(ngModel)]="task.id"
      type="text"
      id="id"
      name="id"
      disabled
    >

    <label for="title"></label>
    <input
      [(ngModel)]="task.title"
      type="text"
      id="title"
      name="title"
      placeholder="Enter the title"
    >

    <label for="description"></label>
    <textarea
      [(ngModel)]="task.description"
      name="description"
      id="description"
      placeholder="Enter the description"
      cols="30"
      rows="10"
    ></textarea>

    <label for="status"></label>
    <select
      [(ngModel)]="task.isCompleted"
      name="status"
      id="status"
    >
      <option value="false">In Progress</option>
      <option value="true">Completed</option>
    </select>

    <button type="submit" [disabled]="!taskForm.form.valid">Update</button>
  </form>
</div>
